body{
	margin:0;
	padding:0;
}
.wrapper{
	width:100%;
	margin:0;
	padding:0;

}
*{box-sizing: border-box;
}
img{
	width:100%;
}
.clearfix{
	clear:both;
}
.container{
width:100%;
max-width:1200px;
margin:0px auto;
}
.left-bar{
	width:170px;
	float:left;
}
.left-bar img{
	float:left;
}

.right-bar {
  float: left;
padding: 0 30px;
  width: 570px;
}
.right-bar h1 {
  color: #000;
  font-family: "proxima_novasemibold";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 7px 0;
}
.right-bar p {
  color: #4b4b4b;
  font-family: "proxima_nova_rgregular";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  padding: 12px 0;
}

.right-bar button {
  border: medium none;
  border-radius: 5px;
  color: #000;
  font-family: "proxima_nova_rgregular";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  padding: 5px 25px;
  border:1px solid #e3e3e3;
  background:none;
}
.first {
padding:0;
}
.second {
  padding: 65px 0;
}
.third {
  padding: 97px 0;
}
.big-line {
  padding: 35px 0;
}
.fourth {
  padding: 65px 0;
}
.fifth {
  padding: 70px 0;
}

.template {
  //padding: 12px 0;
  border-left:1px solid #e3e3e3;
}
h1.title{
color: #000;
  font-family: "proxima_novasemibold";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  padding:10px 0px;
}
.template input {
  border-radius: 6px;
  color: #5c5c5c;
  font-family: "proxima_nova_rgregular";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin: 10px 0;
  padding: 9px 39px;
  border: 1px solid #e3e3e3;
}
.template button {
  background: #7cd918 none repeat scroll 0 0;
  border: 1px solid #7cd918;
  border-radius: 6px;
  color: #fff;
  font-family: "proxima_novasemibold";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  padding: 9px 74px;
  //text-align: center;
  margin:5px 0;
}
.line > img {
  padding: 27px 0;
}
.line > h1 {
  color: #000;
  font-family: "proxima_novasemibold";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 8px 0;
}
.line > h2{
	color: #1a1a1a;
  font-family: "proxima_nova_rgregular";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  padding:6px 0;
}
.social_icon {
  padding: 15px 0;
}
.social_icon ul{
	list-style:none;
	padding:0;
}
.social_icon ul li {
  display: inline-block;
  padding: 5px 10px;
}
.social_icon ul li a {
  color: #fff;
  display: block;
  font-size: 30px;
  height: 64px;
  line-height: 63px;
  padding: 0;
  text-align: center;
  width: 64px;
}
.social_icon img {
  width: 100%;
}
.twitter_icon {
  background: #55acee none repeat scroll 0 0;
  border-radius: 50%;
}
.linkedin_icon{
background: #1b86bc none repeat scroll 0 0;
  border-radius: 50%;
}
.facebook_icon{
background: #4861a3 none repeat scroll 0 0;
  border-radius: 50%;
}
nav {
  text-align: center;
}
.pagination {
  margin: 0;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}
.pagination > li > a, .pagination > li > span {
  color: #000;
  line-height: 1.429;
}






